h2 {
    text-align: center;
}

div.status {
    background-color: #449d44;
    color: white;
    border-color:#419641;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
}

div.status a {
    color:white;
}
